* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: 'Montserrat', open-sans;
  background-color: #ffffff;
  color: #344e41;
}

.container {
  /* margin-top: 100px; */
  width: 100%;
}
/* Navbar section */
.navbar {
  padding: 20px 60px;
  overflow: hidden;
  background-color: #ffffff;
}
.navbar > a:link,
a:visited {
  color: #344e41;
}
.navbar-brand {
  font-size: 2.5rem;
}
.navbar-nav li {
  font-size: 2rem;
  padding-left: 20px;
}
.fa-bars {
  margin-top: -10px;
  margin-left: -20px;
}
/* End of navbar section */
/* Beginning of intro of Josh */
.intro {
  margin-top: 250px;
  position: relative;
}

.welcome_friends {
  font-size: 6rem;
}
.im_josh {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 20px;
  padding-left: 10px;
}
.social_media_stats {
  font-size: 2rem;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}
.social_media_stats a:link {
  width: 20%;
  text-align: center;
  border-bottom: 1px solid black;
  text-decoration: none;
}
.social_media_stats a:link:hover {
  color: #294021;
  transition: all 0.3s ease-in-out;
  transform: translateY(-0.25em);
  font-weight: bold;
}
.tiktokimg {
  width: 300px;
  height: auto;
  position: absolute;
  right: 0;
  top: -100px;
  border-radius: 5%;
  border: 3px solid #344e41;
  z-index: -1;
  animation: animateUser 2s linear infinite;
}
@keyframes animateUser {
  50% {
    top: -90px;
  }
}
/* End of intro about Josh */
/* Beginning of Freestocks */
.aboutfreestocks {
  font-size: 2rem;
  margin-top: 275px;
  position: relative;
}
.aboutfreestocks p {
  width: 40%;
}

.checkitout,
.growing_community h2 {
  padding-bottom: 5px;
  font-size: 4rem;
}

.freestocksbtn {
  width: 260px;
  height: 65px;
  font-size: 1.8rem;
  margin-top: 16px;
}

.freestocksbtn:hover,
#tryitout:hover {
  transition: all 0.3s ease-in-out;
  transform: translateY(-0.25em);
}
p {
  font-weight: 300;
  line-height: 40px;
}
.webullphone {
  position: absolute;
  width: 330px;
  height: auto;
  right: 10px;
  top: -60px;
  z-index: -1;
}
/* End of Freestocks */
/* About Dollar Digest */
.dollardigest {
  position: relative;
  margin-top: 230px;
}
.dollardigest,
.watchthese {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  line-height: 60px;
}

.growing_community {
  font-size: 2rem;
  text-align: right;
  margin-top: 30px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
}

.growing_community h2 {
  margin-top: 30px;
  font-weight: 700;
}
.emailpic {
  position: absolute;
  top: -10px;
  left: -80px;
  width: 520px;
  height: auto;
  z-index: -1;
}

#email {
  font-size: 1.8rem;
  height: 50px;
  width: 260px;
  border-radius: 10px;
  border: 1px solid #344e41;
  padding-left: 5px;
  z-index: -1;
}
#tryitout {
  margin-top: 12px;
  height: 60px;
  width: 260px;
  font-size: 2rem;
  letter-spacing: 1px;
}
.buttons {
  background-color: #344e41;
  border: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.5px 10px;
  border-radius: 10px;
  border-radius: 10px;
}
/* End of Dollar Digest section */
/* Youtube video section */
.youtubevid_title {
  margin: 50px 40px 10px 40px;
}
.youtubevid_title p {
  font-size: 1.5rem;
  color: black;
  font-weight: 700;
  text-align: left;
}
.videosection {
  text-align: center;
  margin-top: 110px;
}
.watchthese {
  font-weight: 700;
  font-size: 2.5rem;
}

.videos {
  display: flex;
  justify-content: space-around;
  padding: 0 70px;
}
/* End of youtube section */
.moretocome {
  margin: 150px 0;
  font-size: 2rem;
  text-align: center;
}

/* Footer Section */
footer {
  text-align: center;
  font-size: 1.4rem;
  background-color: #545e56;
  color: #ffffff;
  height: 150px;
  padding: 1em;
  margin-top: 100px;
}
svg {
  padding: 2em 0.5em 0.5em 0;
}

.footerContent {
  display: inline-block;
  margin: 0;
}
/* End of footer section */
